* {
  box-sizing: border-box;
}

.header {
  justify-content: center;
  place-content: center;
  align-items: center;
  display: flex;
}
.header-pic {
  border-radius: 50%;
}
.myName {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.main {
  display: flex;
  align-items: center;
  justify-content: center;

  
}

.mainItems {
  
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 24px 32px; 
    padding: 24px auto;
    gap: 8px;
    width: 515px;
    height: 80px;
    background: #EAECF0;
    border: 10px solid #EAECF0;
    border-radius: 11px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    text-decoration: none;
    border-spacing: 50px;
    border-color: white;
    flex-grow: 1;
}
li {
  list-style-type: none;
  height: 55px;
  padding-top: 1px;
  font-family: monospace;
  width: 90%;
  margin: 10px;
  border-spacing: 5px;
  flex-grow: 1;
  
}
.second-main {
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.link {
  border: 10px solid white;
}
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 50px;
}